<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/f491ae5aed.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <title>Food Diary</title>
    <style>
        span {
            background-color: red;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        }
        
        .icon:hover {
            transform: scale(1.2);
            text-shadow: 0 10px 30px green;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        }
        
      
        .navbar {
            background-color: #e9ecef;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg  navbar-dark bg-dark ">
        <div class="container-fluid">
            <a class="navbar-brand  " href="{%url 'FoodIndex_new:home'%}">Food Diary</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active  " aria-current="page" href="{%url 'FoodIndex_new:home'%}">Home</a>
                    </li>

                    <!-- 
                    <li class="nav-item">
                        <a class="nav-link  " href="{%url 'home_app_new:table'%}">Consumed Items</a>
                    </li>-->
                    <li class="nav-item">
                        <a class="nav-link  " href="/cuisine_consumed">Cuisine Consumed Items</a>
                    </li>

                    <li class="nav-item">
                       <!-- <a class="nav-link  " href="{%url 'home_app_new:nut'%}" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Add Food Item</a>-->
                        <div class="dropdown">

                            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">




                                <!-- <a href="" class="dropdown-item" type="button" data-toggle="modal" data-target="#modalLoginForm" style="font-weight:500;">Consumption</a> -->
                                <a href="" class="dropdown-item" type="button" data-toggle="modal" data-target="#modalPurchaseForm" style="font-weight:500;">Purchase</a>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle  " href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Reports
            </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <!--<a class="dropdown-item" href="{%url 'home_app_new:nut'%}" style="font-weight:500;">Nutrition Analysis</a>
                            <a class="dropdown-item" href="{%url 'FoodIndex_new:userfoodlogchart'%}" style="font-weight:500;">Calories Analysis</a>
                            <a class="dropdown-item" href="{%url 'home_app_new:consumed_history'%}" style="font-weight:500;">Consumption History</a>
                            <a class="dropdown-item" href="{%url 'home_app_new:purchasechart'%}" style="font-weight:500;">Purchase vs Consumption Analysis</a> -->
                            <a class="dropdown-item" href="{%url 'home_app_new:consumption_cuisine_status'%}" style="font-weight:500;">consumption_cuisine_status</a>
                      <!--      <a class="dropdown-item" href="{%url 'home_app_new:purchaseComparison'%}" style="font-weight:500;">Purchase Comparison</a>-->


                        </div>
                    </li>
                </ul>


                <a class="nav-link" name="icon" href="/cuisine_consumed" data-trigger="hover" data-toggle="popover" title="{{assorted_left}} item(s) in assorted items consumption">
                    <div class="icon">
                        <i class="fas fa-utensil-spoon fa-2x faa-horizontal" style="color:#91c788; "></i><span class="badge badge-info">{{assorted_left}}</span>
                    </div>

                </a>
                <!--
                <a class="nav-link" name="icon" href="{%url 'home_app_new:table'%}" data-trigger="hover" data-toggle="popover" title="{{items_left}} item(s) in transaction table">

                    <div class="icon">
                        <i class="fas   utensils   2x faa-horizontal" style="color:#001f01; "></i><span class="badge badge-info">{{items_left}}</span>
                    </div>
-->
                </a>
               
                {%if  title == 'South Indian'%}
                <form method="GET" action="{%url 'home_app_new:south_search'%}" class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="southquery" id="southquery" list="foodlist">

                    <button type="submit" class="btn btn-success">Search</button>

                </form>
                {%elif title == 'Chinese'%}
                <form method="GET" action="{%url 'home_app_new:chinese_search'%}" class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="chinesequery" id="chinesequery" list="foodlist">

                    <button type="submit" class="btn btn-success">Search</button>

                </form>
                {%elif title == 'Continental'%}
                <form method="GET" action="{%url 'home_app_new:continental_search'%}" class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="continentalquery" id="continentalquery" list="foodlist">

                    <button type="submit" class="btn btn-success">Search</button>

                </form>
                {%elif title == 'Sweet Dish'%}
                <form method="GET" action="{%url 'home_app_new:sweet_search'%}" class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="sweetquery" id="sweetquery" list="foodlist">

                    <button type="submit" class="btn btn-success">Search</button>

                </form>
                {%endif%}

            </div>
            &nbsp;&nbsp
            <a href="{% url 'home_app_new:deletetemp' %}"><button type="submit" class="btn btn-danger">Logout</button></a>
        </div>
        <a class="nav-link" name="icon" href="{%url 'FoodIndex_new:profile_page'%}" data-trigger="hover" data-toggle="popover" title="View Profile">
            <div class="icon">
                <i class="fas fa-user-circle fa-2x" style="color:#91c788;"></i>
            </div>
        </a>

    </nav>

    <div class='container'>
        <div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <h4 class="modal-title w-100 font-weight-bold">DETAILS</h4>
                        <button id="Cancel" class="btn btn-danger" data-dismiss="modal" aria-label="Close">X</button>
                        <!--  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button> -->
                    </div>
                    <form method="POST">
                        {% csrf_token %}
                        <div class="modal-body mx-3">

                            <div class="md-form mb-5">
                                <label data-error="wrong" data-success="right" for="defaultForm-email">Enter Food
                            Name</label>
                                <input type="Text" class="form-control validate" id="selectedItem" name="selectedItem" placeholder="Eg:Dosa">

                            </div>

                            <div class="md-form mb-5">
                                <label data-error="wrong" data-success="right" for="defaultForm-email">Enter Description
                            About The Food</label>
                                <input type="text" class="form-control validate" id="desc" name="desc">

                            </div>
                            <div class="md-form mb-4">
                                <label>Choose a meal type :</label>
                                <br>
                                <select id="cars" name="meal_type" class="form-select" aria-label="Default select example">
                        <option value="Breakfast">Breakfast</option>
                        <option value="Lunch">Lunch</option>
                        <option value="Dinner">Dinner</option>
                        <option value="Snacks">Snacks</option>
                        <option value="Dessert">Dessert</option>
                      </select>
                            </div>

                            <div class="md-form mb-5">
                                <label data-error="wrong" data-success="right" for="defaultForm-email">Enter Manufacturer's
                            Code</label>
                                <input type="Text" class="form-control validate" id="mfg" name="mfg">

                            </div>

                            <div class="md-form mb-4">
                                <label data-error="wrong" data-success="right" for="defaultForm-pass">Enter Food Id</label>
                                <input type="text" class="form-control validate" id="fd_id" name="fd_id" placeholder="Eg:00">

                            </div>
                            <div class="md-form mb-5">
                                <label data-error="wrong" data-success="right" for="defaultForm-email">Enter
                            Quantity</label>
                                <input type="number" class="form-control validate" id="quantity" name="quantity">

                            </div>
                            <div class="md-form mb-5">
                                <label data-error="wrong" data-success="right" for="defaultForm-email">Enter Calorie
                            Content</label>
                                <input type="text" class="form-control validate" id="cal" name="cal">

                            </div>

                            <div class="md-form mb-5">
                                <label data-error="wrong" data-success="right" for="defaultForm-email">Enter Protein
                            Content</label>
                                <input type="text" class="form-control validate" id="protin" name="protin">

                            </div>

                            <div class="md-form mb-5">
                                <label data-error="wrong" data-success="right" for="defaultForm-email">Enter Fat
                            Content</label>
                                <input type="text" class="form-control validate" id="fat" name="fat">

                            </div>

                            <div class="md-form mb-5">
                                <label data-error="wrong" data-success="right" for="defaultForm-email">Enter
                            Carbohydrates Content</label>
                                <input type="text" class="form-control validate" id="carbs" name="carbs">

                            </div>

                            <div class="md-form mb-5">
                                <label data-error="wrong" data-success="right" for="defaultForm-email">Enter Sodium
                            Content</label>
                                <input type="text" class="form-control validate" id="sodium" name="sodium">

                            </div>

                            <div class="md-form mb-5">
                                <label data-error="wrong" data-success="right" for="defaultForm-email">Enter Sugar
                            Content</label>
                                <input type="text" class="form-control validate" id="sugar" name="sugar">

                            </div>

                            <div class="md-form mb-5">
                                <label data-error="wrong" data-success="right" for="defaultForm-email">Enter Calorie
                            Saturated Fats Content</label>
                                <input type="text" class="form-control validate" id="sat" name="sat">

                            </div>

                            <div class="md-form mb-5">
                                <label data-error="wrong" data-success="right" for="defaultForm-email">Enter Fiber
                            Content</label>
                                <input type="text" class="form-control validate" id="fiber" name="fiber">

                            </div>

                            <div class="md-form mb-5">
                                <label data-error="wrong" data-success="right" for="defaultForm-email">Enter Alchohol
                            Content</label>
                                <input type="text" class="form-control validate" id="alc" name="alc">

                            </div>

                            <div class="md-form mb-5">
                                <label data-error="wrong" data-success="right" for="defaultForm-email">Serving Style</label>
                                <input type="Text" class="form-control validate" id="ss_c" name="ss_c">

                            </div>


                        </div>
                        <div class="modal-footer d-flex justify-content-center">
                            <input type="submit" name="submit" id="submit" value="Confirm" class="btn btn-success" formaction="{% url 'home_app_new:foodtopan' %}">
                            <button id="Cancel" class="btn btn-danger" data-dismiss="modal" aria-label="Close">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="modal fade" id="modalPurchaseForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <h4 class="modal-title w-100 font-weight-bold">DETAILS</h4>
                        <button id="Cancel" class="btn btn-danger" data-dismiss="modal" aria-label="Close">X</button>
                        <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button> -->
                    </div>
                    <form method="POST">
                        {% csrf_token %}
                        <div class="modal-body mx-3">

                            <div class="md-form mb-5">
                                <label data-error="wrong" data-success="right" for="defaultForm-email">Enter food
                                name</label>
                                <input type="Text" class="form-control validate" id="selectedItem" name="selectedItem" placeholder="Eg:Dosa">

                            </div>

                            <div class="md-form mb-5">
                                <label data-error="wrong" data-success="right" for="defaultForm-email">Enter mfg
                                code</label>
                                <input type="Text" class="form-control validate" id="mfg" name="mfg">

                            </div>

                            <div class="md-form mb-4">
                                <label data-error="wrong" data-success="right" for="defaultForm-pass">Enter Food Id</label>
                                <input type="number" class="form-control validate" id="fd_id" name="fd_id" placeholder="Eg:00">

                            </div>
                            <div class="md-form mb-5">
                                <label data-error="wrong" data-success="right" for="defaultForm-email">Enter
                                Quantity</label>
                                <input type="number" class="form-control validate" id="quantity" name="quantity">

                            </div>
                            <div class="md-form mb-5">
                                <label data-error="wrong" data-success="right" for="defaultForm-email">Enter calorie</label>
                                <input type="number" class="form-control validate" id="cal" name="cal">

                            </div>

                            <div class="md-form mb-5">
                                <label data-error="wrong" data-success="right" for="defaultForm-email">Enter protein</label>
                                <input type="number" class="form-control validate" id="protin" name="protin">

                            </div>

                            <div class="md-form mb-5">
                                <label data-error="wrong" data-success="right" for="defaultForm-email">Enter fat</label>
                                <input type="number" class="form-control validate" id="fat" name="fat">

                            </div>

                            <div class="md-form mb-5">
                                <label data-error="wrong" data-success="right" for="defaultForm-email">Enter
                                carbohydrates</label>
                                <input type="number" class="form-control validate" id="carbs" name="carbs">

                            </div>

                            <div class="md-form mb-5">
                                <label data-error="wrong" data-success="right" for="defaultForm-email">Enter sodium</label>
                                <input type="number" class="form-control validate" id="sodium" name="sodium">

                            </div>

                            <div class="md-form mb-5">
                                <label data-error="wrong" data-success="right" for="defaultForm-email">Enter sugar</label>
                                <input type="number" class="form-control validate" id="sugar" name="sugar">

                            </div>

                            <div class="md-form mb-5">
                                <label data-error="wrong" data-success="right" for="defaultForm-email">Enter calorie
                                saturated fats</label>
                                <input type="number" class="form-control validate" id="sat" name="sat">

                            </div>

                            <div class="md-form mb-5">
                                <label data-error="wrong" data-success="right" for="defaultForm-email">Enter fiber
                                content</label>
                                <input type="number" class="form-control validate" id="fiber" name="fiber">

                            </div>

                            <div class="md-form mb-5">
                                <label data-error="wrong" data-success="right" for="defaultForm-email">Enter alchohol
                                content</label>
                                <input type="number" class="form-control validate" id="alc" name="alc">

                            </div>

                            <div class="md-form mb-5">
                                <label data-error="wrong" data-success="right" for="defaultForm-email">Serving Style</label>
                                <input type="Text" class="form-control validate" id="ss_c" name="ss_c">

                            </div>


                        </div>
                        <div class="modal-footer d-flex justify-content-center">
                            <input type="submit" name="submit" id="submit" value="Confirm" class="btn btn-success" formaction="{% url 'home_app_new:confirm_purchase2' %}">
                            <button id="Cancel" class="btn btn-danger" data-dismiss="modal" aria-label="Close">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        {%block body_block%} {%endblock%}
    </div>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
    </script>
</body>

</html>
<html>
<style>
    h2 {
        align-self: center;
    }
    
    .card {
        align-items: center;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }
    .name{
        max-width: 100px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
   
    .date {
        margin-bottom: 20px;
    }
    
    .float-xl-right {
        border-style: ridge;
        padding: 20px;
        margin: 10px;
    }
</style>

<div class="container">
    <div class="row">


        <div class="col" id="col1">

            <h2>{{title}}
                <!--(Purchase)-->
            </h2>
            <script>
                var f_name = "{{title}}";
            </script>
            {% if consumed %}
            <div class="float-xl-right">

                <h3>Consumed by {{name}}</h3>
                <br><br>
                <div class="date">{{date}}</div>
                <table class="table table-bordered">
                    <tr>
                        <th scope="col">
                            Food Name
                        </th>
                        <th scope="col">
                            Quantity
                        </th>
                        <th scope="col">
                            Food Type
                        </th>
                        <th scope="col">
                            Delete
                        </th>

                    </tr>

                    {% for tb in consumed %}

                    <tr>
                        <td>
                            {{tb.food_name}}
                        </td>
                        <td>
                            {{tb.quantity}}
                        </td>
                        <td>
                            {{tb.meal_type}}
                        </td>

                        <td>
                            <button id={{tb.c_id}} onclick="delete_Row(this);" class="btn btn-danger" style="width: 40px;">X</button>

                        </td>
                    </tr>


                    {% endfor %}

                </table>


                <button><a href="/cuisine_consumed" style="text-decoration: none;font-family: 'Times New Roman', Times, serif;color: red;font-weight: bold;">Click here to Review and confirm all your purchases</a></button>
                <div>
                    <form method="POST" action="/" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="md-form mb-4">
                            <label data-error="wrong" data-success="right" for="defaultForm-pass">Have a csv file? Upload here <a href="#" data-toggle="modal" data-target="#modalFileformat">Check file format</a></label>
                            <input name="upload_file" id="upload_file" class="form-control validate" type="file" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" required/>  
                            <input type="submit" name="submit" id="submit" value="Submit file" class="btn btn-success" formaction="{% url 'home_app_new:confirm_file1' %}" >
                            <input type="text" name="f_type1" id="f_type1" value="{{title}}" style="visibility: hidden;">
                        </div>
                        
                    </form>
                </div>
                {% else %}
                <div class="float-right">
                    <form method="POST" action="/" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="md-form mb-4">
                            <label data-error="wrong" data-success="right" for="defaultForm-pass">Have a csv file? Upload here <a href="#" data-toggle="modal" data-target="#modalFileformat">Check file format</a></label>
                            <input name="upload_file" id="upload_file" class="form-control validate" type="file" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" required/>  
                            <input type="submit" name="submit" id="submit" value="Submit file" class="btn btn-success" formaction="{% url 'home_app_new:confirm_file1' %}">
                            <input type="text" name="f_type1" id="f_type1" value="{{title}}" style="visibility: hidden;">
                        </div>
                        
                    </form>
            </div>
            {% endif %}

            </div>

            
           
            <h4>Choose your food items</h4>
            <br>
            <br>
            <div class="container">
                <div class="row row-cols-1 row-cols-md-2 g-4">
                    {% for items in items %}

                    <div class="modal fade" id="modalBuyForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header text-center">
                                    <h4 class="modal-title w-100 font-weight-bold">Please provide the quantity<i class="fas fa-cart-arrow-down"></i></h4>
                                    <button id="Cancel" class="btn btn-danger" data-dismiss="modal" aria-label="Close">X</button>
                                </div>
                                <form method="POST">
                                    {% csrf_token %}
                                    <div class="modal-body mx-3">

                                        <div class="md-form mb-5">
                                            <label data-error="wrong" data-success="right" for="defaultForm-email">Selected item</label>
                                            <input type="Text" class="form-control validate" id="selectedItem2" name="selectedItem2">

                                        </div>

                                        <div class="md-form mb-4">
                                            <label data-error="wrong" data-success="right" for="defaultForm-pass">Enter Quantity</label>
                                            <input type="number" class="form-control validate" id="selectedQuant2" name="selectedQuant">

                                        </div>
                                        <div class="md-form mb-4">
                                            <label data-error="wrong" data-success="right" for="defaultForm-pass">Select Mealtype</label>
                                            <select id="meal_type" name="meal_type" class="form-select" aria-label="Default select example">
                                                <option value="Breakfast">Breakfast</option>
                                                <option value="Lunch">Lunch</option>
                                                <option value="Dinner">Dinner</option>
                                                <option value="Snacks">Snacks</option>
                                                <option value="Dessert">Dessert</option>
                                              </select>

                                        </div>
                                        <div class="md-form mb-4">

                                            <input type="number" class="form-control validate" id="f_id" name="f_id">

                                        </div>

                                        <div class="md-form mb-4">

                                            <input type="text" class="form-control validate" id="f_type" name="f_type">

                                        </div>

                                    </div>
                                    <div class="modal-footer d-flex justify-content-center">
                                        <input type="submit" name="submit" id="submit" value="Confirm" class="btn btn-success" formaction="{% url 'home_app_new:confirm_consumption' %}">
                                        <button id="Cancel" class="btn btn-danger" data-dismiss="modal" aria-label="Close">Cancel</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <a href="#" class="btn" style="width: 250px;" data-toggle="modal" data-target="#modalBuyForm" id="{{items.food_name}}" name="{{items.food_id}}" onclick="set_val2(this,f_name);">

                        <div class="card">
                            <img class="card-img-top" src="{{items.link_of_image}}" alt="Card image cap" height="150" width="150">
                            <div class="card-body " style="font-family: 'Times New Roman', Times;font-weight: bold;">
                                <p class="name">{{items.food_name}}</p>
                            </div>
                        </div>
                    </a>


                    {%endfor%}
                    
            <a href="#" class="" style="width: 180px;text-decoration: none;color: blueviolet;" data-toggle="modal" data-target="#modalPurchase"  onclick="set_val3(f_name);">

                <div class="card">
                    <img class="card-img-top" src="https://image.freepik.com/free-icon/add-new-plus-button_318-9157.jpg" alt="Card image cap" height="130" width="100">
                    <div class="card-body">
                        <p>Add another food</p>
                    </div>
                </div>
                <br>
            </a>
                    <div class="modal fade bd-example-modal-lg" id="modalFileformat" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                          <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">File Upload format</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                  <p>The CSV file you upload should be of the following format & the order should be strictly maintained:</p>
                                  <br>
                                <img src="https://i.ibb.co/XxbNDwt/Screenshot-1107.png" alt="" width="750">
                                <br><br>
                                <ul class="list-group">
                                    <li class="list-group-item">Protiens,fats,carbohydrates should be specified in grams</li>
                                    <li class="list-group-item">Quantity should be an integer</li>
                                    <li class="list-group-item">Meal type can be any of the follwing: Breakfast/Lunch/Dinner/Snacks</li>
                                  </ul>
                              </div>
                          </div>
                        </div>
                      </div>


                    <div class="modal fade" id="modalPurchase" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header text-center">
                                    <h4 class="modal-title w-100 font-weight-bold">DETAILS</h4>
                                    <button type="button" class="btn btn-danger" data-dismiss="modal" aria-label="Close">X </button>
                                </div>
                                <form method="POST">
                                    {% csrf_token %}
                                    <div class="modal-body mx-3">

                                        <div class="md-form mb-5">
                                            <label data-error="wrong" data-success="right" for="defaultForm-email">Enter food
                                  name</label>
                                            <input type="Text" class="form-control validate" id="selectedItem3" name="selectedItem3" placeholder="Eg:Dosa" required="required">

                                        </div>

                                        <div class="md-form mb-5">
                                            <label data-error="wrong" data-success="right" for="defaultForm-email">Enter food type</label>
                                            <input type="Text" class="form-control validate" id="f_type3" name="f_type3" required="required">

                                        </div>

                                        <div class="md-form mb-5">
                                            <label data-error="wrong" data-success="right" for="defaultForm-pass">Select Mealtype</label>
                                            <select id="meal_type3" name="meal_type3" class="form-select" aria-label="Default select example">
                                                <option value="Breakfast">Breakfast</option>
                                                <option value="Lunch">Lunch</option>
                                                <option value="Dinner">Dinner</option>
                                                <option value="Snacks">Snacks</option>
                                                <option value="Dessert">Dessert</option>
                                              </select>

                                        </div>

                                        <div class="md-form mb-5">
                                            <label data-error="wrong" data-success="right" for="defaultForm-email">Enter
                                  Quantity</label>
                                            <input type="number" class="form-control validate" id="quantity3" name="quantity3" required="required">

                                        </div>
                                        <div class="md-form mb-5">
                                            <label data-error="wrong" data-success="right" for="defaultForm-email">Enter calorie</label>
                                            <input type="number" class="form-control validate" id="cal3" name="cal3" required="required">

                                        </div>

                                        <div class="md-form mb-5">
                                            <label data-error="wrong" data-success="right" for="defaultForm-email">Enter protein</label>
                                            <input type="number" class="form-control validate" id="protin3" name="protin3" required="required">

                                        </div>

                                        <div class="md-form mb-5">
                                            <label data-error="wrong" data-success="right" for="defaultForm-email">Enter fat</label>
                                            <input type="number" class="form-control validate" id="fat3" name="fat3" required="required">

                                        </div>

                                        <div class="md-form mb-5">
                                            <label data-error="wrong" data-success="right" for="defaultForm-email">Enter
                                  carbohydrates</label>
                                            <input type="number" class="form-control validate" id="carbs3" name="carbs3" required="required">

                                        </div>



                                    </div>
                                    <div class="modal-footer d-flex justify-content-center">
                                        <input type="submit" name="submit" id="submit" value="Confirm" class="btn btn-success" formaction="{% url 'home_app_new:confirm_consumption2' %}">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>




                </div>
            </div>
        </div>
        <div style="margin-left: 25px;"> {% include 'pagination.html' with page=items%}</div>


        <script>
            function delete_Row(what) {
                var m = what.id;
                document.location.href = "{% url 'home_app_new:delete_cuisine' 1234 %}".replace(/1234/, m.toString());
            }

            function set_val2(what,f_name) {
                var today = new Date();
                var time = today.getHours()
                document.getElementById("selectedItem2").value = what.id;
                document.getElementById("selectedItem2").readOnly = true;
                document.getElementById("f_id").style.display = "none";
                document.getElementById("f_id").value = what.name;
                document.getElementById("f_type").style.display = "none";
                document.getElementById("f_type").defaultValue = f_name;
                document.getElementById("selectedQuant2").defaultValue = "1";
                if (time > 2 && time <= 11) {
                    document.getElementById("meal_type").value ="Breakfast";
                } else if (time > 11 && time <= 15) {
                    document.getElementById("meal_type").value ="Lunch";
                } else if (time < 19 && time > 15) {
                    document.getElementById("meal_type").value ="Snacks";
                } else if (time > 19 || time < 2) {
                    document.getElementById("meal_type").value ="Dinner";
                }
    
            }

            function set_val3(f_name) {
                var today = new Date();
                var time = today.getHours()
                document.getElementById("f_type3").value = f_name;
                document.getElementById("f_type3").readOnly = true;
                if (time > 2 && time <= 11) {
                    document.getElementById("meal_type3").value ="Breakfast";
                } else if (time > 11 && time <= 15) {
                    document.getElementById("meal_type3").value ="Lunch";
                } else if (time < 19 && time > 15) {
                    document.getElementById("meal_type3").value ="Snacks";
                } else if (time > 19 || time < 2) {
                    document.getElementById("meal_type3").value ="Dinner";
                }
            }
        </script>

        <!--  {% include 'pagination.html' with page=amazon %} -->

</html>