<div>
    <br><br>
    
    <h1>OOPS!! Wrong file format!! Please check the file format : </h1>
    
    
    <br><br>
    <ul class="list-group">
        <li class="list-group-item">Columns should be in the order: food name,
            quantity,
            serving style,
            carbs,
            protein,
            fat,
            fiber,
            sugar,
            sodium,
            alchohol,
            calorie,
            calorie saturated fats,
            shop name,
        mfg code</li>
        <li class="list-group-item">Protiens,fats,carbohydrates,etc should be specified in grams</li>
        <li class="list-group-item">Quantity should be an integer</li>
        <li class="list-group-item">Serving style can be any of the following: Solid/Liquid</li>
      </ul>

</div>
