<div>
<br><br>

<h1>OOPS!! Wrong file format!! Please check the file format : </h1>


          <div class="modal-body">
              <p>The CSV file you upload should be of the following format & the order should be strictly maintained:</p>
              <br>
            <img src="https://i.ibb.co/XxbNDwt/Screenshot-1107.png" alt="" width="750">
            <br><br>
            <ul class="list-group">
                <li class="list-group-item">Protiens,fats,carbohydrates should be specified in grams</li>
                <li class="list-group-item">Quantity should be an integer</li>
                <li class="list-group-item">Meal type can be any of the follwong: Breakfast/Lunch/Dinner/Snacks</li>
              </ul>
          </div>
      
        </div>